
.vs/M2-GD-WEBB_Karris_Pokemon/v17/Browse.VC.opendb
.vs/M2-GD-WEBB_Karris_Pokemon/FileContentIndex/f084c4fe-2be7-4c65-9de2-ae57a5d80dd8.vsidx
*.vsidx
.vs/M2-GD-WEBB_Karris_Pokemon/FileContentIndex/f084c4fe-2be7-4c65-9de2-ae57a5d80dd8.vsidx
